<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/product_3.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Cleanroom Equipments</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo offers cleanroom equipments within the Cleanroom for Biotech Pharmaceuticals, Microelectronics, Laboratory, Semi conductor units and Hospitals. We provide tailor made solution and design cleanroom equipments for specific use. The equipments are designed with durability, ease of use, compactness and aesthetics in focus. Our design engineers have incorporated many small features that differentiates our products. Our product standardization ensures the deliveries are faster, and also enables our clients, easy access to the spares of each component. Our design engineers have also worked to ensure these equipments integrate easily with our cleanroom panels.</p>

<p><b>Cleanroom Equipments:</b><br>
	&bull;&nbsp;Pass Box (Dynamic & Staitc)<br>
	&bull;&nbsp;Laminar Air Flow Unit (C-LAF, H-LAF, V-LAF, M-V-LAF, M-H-LAF)<br>
	&bull;&nbsp;Dispensing & Sampling Booth (R-LAF)<br>
	&bull;&nbsp;Garment Cubicals (Dynamic & Static)<br>
	&bull;&nbsp;Air Shower<br>
	&bull;&nbsp;Bio-Safety Cabinets<br>
	&bull;&nbsp;De-dusting Booth / Tunnel<br>
	&bull;&nbsp;Mist Showers<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
	<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br> -->
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>