<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Cold Storage Solutions</h1>
<br>
<a href="/lab?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<!-- <a href="#"><img src="/static/images/blog/full/ahu.JPG" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Laboratory Refrigerator 2-8 C</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo is a market leader in refrigeration technology. Spectevo representing market with the widest range of Deep Freezer by their OEM manufactured refrigeration system and evaporators. This product is designed to store vaccines, blood plasma, biological materials. Applications could be found in the Pharmaceutical, electronic and chemical laboratories epidemic prevention, hospitals, animal husbandry areas, blood banks and research institutes.</p>

<a href="#"><img src="/static/images/equipments/fridge/2-8C fridge-3.jpg"></a><br><br>
<a href="#"><img src="/static/images/equipments/fridge/2-8C fridge-4.jpg"></a><br><br>
<a href="#"><img src="/static/images/equipments/fridge/2-8C fridge-5.jpg"></a><br><br>
<a href="#"><img src="/static/images/equipments/fridge/2-8C fridge-6.jpg"></a><br><br>
<a href="#"><img src="/static/images/equipments/fridge/2-8C fridge-7.jpg"></a><br><br>
</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/lab?page=ColdStorageSolutions"><h4>Laboratory Refrigerator 2-8 C</h4></a>
	<ul>
			<li>&bull;<a href="/lab?page=ColdStorageSolutions">PSA 500</a></li>
			<li>&bull;<a href="#">PSA 1000</a></li>
	</ul> <br>
	<a href="#"><h4>Biomedical/Laboratory Freezer -25C</h4></a>
	<a href="#"><h4>Biomedical/Laboratory Freezer -40C</h4></a>
	<a href="#"><h4>ULT Freezer -86C</h4></a>
</div>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>