<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/product_9.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>De-Dusting Booth/Tunnel</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>
	&bull;&nbsp;With High Jet Air Velocity OR<br>
	&bull;&nbsp;Combination of High jet Air velocity with Brushing System<br>
	&bull;&nbsp;Inlet / Material Entry Conveyor system<br>
	&bull;&nbsp;De-Dusting Conveyor system<br>
	&bull;&nbsp;Out let / Material Exit Conveyor system<br>
	&bull;&nbsp;MOC : PCGI / SS 304<br>
</p>

<p>The De-dusting system is used to remove the loose particles / dust present on the receiving materials, which will be brought into the warehousing area before they are transferred into the quarantine area.
The drum / bag / carton to be De-dusted shall place on the roller conveyer at loading point. The drum / bag / Carton then passes through bottom brushing, top brushing and side brushing station.
</p>
<p><b>The Top Brush</b> is manually adjustable with Rack & Pinion arrangement depends up on the incoming material height .It Rotates on its own axis with help of Geared motor.<br>
<b>The Horizontal Brushes</b> (Right & Left sides) is automatically adjustable depended upon the incoming material diameter & Rotate on its own axis with help of Geared motor<br>
<b>Bottom Brush</b> is fixed & rotate on its own axis with help of Geared motor.<br>
After brushing, the drum / bag / carton will be conveyed to the cleaning chamber. The drum/ bag / Carton will have high jet velocity air on the external surface of material while passing through the Brushes & Booth. High Pressured Compressed Air is delivered on the Raw Material Packing through SS 304 Adjustable nozzles being designed for purpose ensures removal of dust and powder particles which is sucked by the Exhaust Blower & deposited on exhaust filter.</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
	<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br> -->
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>