<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/doors.png" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Doors</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo provides wide range of Cleanroom compatible Doors . These are basically meant for air ingression in the room. The door has mechanically interlocked vertical edges that add strength and rigidity, which makes them appropriate for light and heavy use.</p>

<p>Cleanroom doors are available with interfacing profile for a flush and easy installation on existing walls<br>
	&bull;&nbsp;Fully flush surfaces with wall system<br>
	&bull;&nbsp;A large variety of swing out pharmaceutical doors<br>
	&bull;&nbsp;Manual, semiautomatic and fully automatic sliding doors<br>
	&bull;&nbsp;Door hardware by world market leading manufacturers<br>
	&bull;&nbsp;Custom dimensions available<br>
	&bull;&nbsp;Heavy-duty structure for high durability<br>
</p>

<p>Thick flush doors made of 0.8 mm thick PU powder coated GPSP sheet with honeycomb kraft paper / PUF as infill, 1.2 mm thick GPSP powder coated door frames, with provisions for double glazing glass and hardwares like push plate, door closure, SS D handle, SS ball bearing butt hinges, concealed tower bolt for the double door etc.</p>



<p><b>Different Types Of Doors:</b><br>
	&bull;&nbsp;Scientific Doors<br>
	&bull;&nbsp;Fire Rated Doors<br>
	&bull;&nbsp;Emergency Doors<br>
	&bull;&nbsp;Sliding Doors<br>
	&bull;&nbsp;Roll up Doors<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
	<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br>
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul> -->

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>