<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Electricals</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/electricals.png" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Electricals</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Electrical solutions as per project needs. Supply, installation and commissioning of...</p>

<p>
	&bull;&nbsp;Diesel Generators<br>
	&bull;&nbsp;Transformers<br>
	&bull;&nbsp;HT & LT Panels<br>
	&bull;&nbsp;Security System<br>
	&bull;&nbsp;Synchronizing Panels<br>
	&bull;&nbsp;Cables and Cable trays<br>
	&bull;&nbsp;Earthing<br>
	&bull;&nbsp;Flame Proof Fittings<br>
	&bull;&nbsp;Cleanroom Switch/Sockets<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=electricals"><h4>Electricals</h4></a>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>