<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Utilities</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/GDS.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Centralized Gas Distribution</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>A typical centralized gas distribution is designed based on several parameters including pressure, flow rate, purity, type of controls, sensors and type of material. All the variables are carefully examined especially when it comes to corrosive, flammable and explosive gases. A improper design could result to a compromising situation resulting in unsafe working condition, deviation in the analytical equipment performance, shorter lifespan to equipment, downtime, and a hazard to the laboratory.</p>
<p>We are specialized in design, fabrication, installation and validation of gas distribution system and provide integrated engineering solutions for gas distribution systems at plant and laboratory scale. Important considerations during designing – Safety, Aesthetics, Effective space management.</p>
<p>Execution is vital stage and workmanship defines the integrity and aesthetics of the gas lines.</p>

<p>Spectevo offers various types of gas distribution systems:<br>
	&bull;&nbsp;Multi cylinder manifold system<br>
	&bull;&nbsp;Centralized distribution system<br>
	&bull;&nbsp;Auto-changeover system<br>
	&bull;&nbsp;Auto-shut off system<br>
	&bull;&nbsp;Gas lines to analytical instruments like GC/MS, ICP/MS, LC/MS etc<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=utilities"><h4>Utilities</h4></a>
	<ul>
			<li>&bull;<a href="/turnkey?page=gasdist">Centralized Gas Distribution</a></li>
			<li>&bull;<a href="/turnkey?page=utilities">Electrical Works</a></li>
			<li>&bull;<a href="/turnkey?page=utilities">Networking – Voice & Data</a></li>
			<li>&bull;<a href="/turnkey?page=utilities">LVS Services</a></li>
	</ul>
</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>