<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>PEB & Facade Glazings</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/facade.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>PEB & Facade Glazings</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>PEB construction best suits for fast track projects and Chrisleen is capable to make it look good with expertise on Facade Glazings.</p>

<p>
	&bull;&nbsp;Pre-engineered Structures<br>
	&bull;&nbsp;External Panels and Insulated Roofing<br>
	&bull;&nbsp;Pipe Racks, Platforms, Mezzanine etc.<br>
	&bull;&nbsp;Steel Grid work for Ducting and Ceiling suspensions.<br>
	&bull;&nbsp;Doors and View Panels<br>
	&bull;&nbsp;Full Glass Panels<br>
	&bull;&nbsp;Fire Rated Panels<br>
	&bull;&nbsp;Walkable/Non Walkable Ceiling<br>
	&bull;&nbsp;Inbuilt/Exposed RAR<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=glazings"><h4>PEB & Facade Glazings</h4></a>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>