<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>HVAC Systems</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/hvac.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Heating, Ventilation and Air Conditioning</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>HVAC is an important part of residential structures such as single family homes, apartment buildings, hotels and senior living facilities, medium to large industrial and office buildings such as skyscrapers and hospitals, vehicles such as cars, trains, airplanes, ships and submarines, and in marine environments, where safe and healthy building conditions are regulated with respect to temperature and humidity, using fresh air from outdoors.</p>

<p>Ventilating or ventilation (the "V" in HVAC) is the process of exchanging or replacing air in any space to provide high indoor air quality which involves temperature control, oxygen replenishment, and removal of moisture, odors, smoke, heat, dust, airborne bacteria, carbon dioxide, and other gases. Ventilation removes unpleasant smells and excessive moisture, introduces outside air, keeps interior building air circulating, and prevents stagnation of the interior air. Ventilation includes both the exchange of air to the outside as well as circulation of air within the building. It is one of the most important factors for maintaining acceptable indoor air quality in buildings.</p>

<p>Design, Installation, commissioning and validation for complex cleanroom HVAC projects as well as commercial/industrial air conditioning.<br>
	&bull;&nbsp;Chillers<br>
	&bull;&nbsp;Cooling Towers<br>
	&bull;&nbsp;Air Handling Units<br>
	&bull;&nbsp;Air Showers<br>
	&bull;&nbsp;Ventilation Units<br>
	&bull;&nbsp;Ducting Works<br>
	&bull;&nbsp;Dehumidifies<br>
	&bull;&nbsp;Ambiaters<br>
	&bull;&nbsp;Heat Recovery<br>
	&bull;&nbsp;VRVs, Condensing Units<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=hvac"><h4>HVAC Systems</h4></a>
	<ul>
			<li>&bull;<a href="/turnkey?page=ahu">Air Handling Unit</a></li>
	</ul>
</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>