<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Laboratory Equipments</h1>
<br>
<a href="/" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/labcollage.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Laboratory Equipments</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo is a leading global player in providing Laboratory Equipments for:
<p>	  &bull;&nbsp;Pharmaceuticals<br>
	  &bull;&nbsp;Biotechnology<br>
	  &bull;&nbsp;Healthcare<br>
	  &bull;&nbsp;Research Facility<br>
	  &bull;&nbsp;Pilot Plants<br>
	  &bull;&nbsp;Food & Beverages & Other Industries<br>
</p>
<blockquote><p>Spectevo is registered as category “A” organization under the MSME Act of the Govt of India and registered under Start-up India, under the Department for Promotion of Industry and Internal Trade, Govt of India.</p></blockquote>

<p> We deliver the best solutions available from internationally reputed Equipment Manufacturers and manufactured in India, designed by our own R&D team to develop the range of Nextgen lab equipment in the field of Research and Development and Quality Control for industries and educational institutions. The products are designed with extreme attention to detailing, user interface and quality. Features are carefully layered into the design to allow users to meet demanding workplace requirements with ease.</p>

<p>With 1st in the segment features like remote operation via USB, programming features & the facility to save operation data - the products bring a value to add which is not seen before. Spectevo is offering equipment like Microplate Shakers, Vortex Mixers, Overhead Stirrers, Magnetic Stirrers, Centrifuges, Laboratory refrigerator, Freezers, Reactors, Rotary Evaporators, Chillers, Water bath etc & will continue to expand its product offerings by developing newer products with advanced features to help its customers meet the demanding Research needs as they evolve.</p>
</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Categories</h2>

	<ul>
		<li>&bull;<a href="#">Autoclaves</a></li>
		<li>&bull;<a href="#">Balances</a></li>
		<li>&bull;<a href="#">Baths</a></li>
		<li>&bull;<a href="#">Biological Safety Cabinets</a></li>
		<li>&bull;<a href="#">Centrifuges</a></li>
		<li>&bull;<a href="#">Chiller/Cooling Circulators</a></li>
		<li>&bull;<a href="/lab?page=ColdStorageSolutions">Cold Storage Solutions</a></li>
		<li>&bull;<a href="#">Evaporators</a></li>
		<li>&bull;<a href="#">Concentrators/Cold Traps</a></li>
		<li>&bull;<a href="#">Freeze Dryers</a></li>
		<li>&bull;<a href="#">Furnaces</a></li>
		<li>&bull;<a href="#">Glass/Labware Washer</a></li>
		<li>&bull;<a href="#">Heating Block/Incubators</a></li>
		<li>&bull;<a href="#">Laminar Flow/Clean Benches</a></li>
		<li>&bull;<a href="#">Animal Research Stations</a></li>
		<li>&bull;<a href="#">Bedding Disposal Station</a></li>
		<li>&bull;<a href="#">Liquid Nitrogen Tanks</a></li>
		<li>&bull;<a href="#">Mixers</a></li>
		<li>&bull;<a href="#">Reactors</a></li>
		<li>&bull;<a href="#">Rollers</a></li>
		<li>&bull;<a href="#">Rotators</a></li>
		<li>&bull;<a href="#">Shakers</a></li>
		<li>&bull;<a href="#">Stirrers</a></li>
		<li>&bull;<a href="#">Ultrasonic Cleaners</a></li>
		<li>&bull;<a href="#">Vacuum Pumps</a></li>		
	</ul>


</div>
</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>