<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Services</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo is committed to provide its world class services to its customers. Our most experienced on-site and off-site personals and advanced technology in engineering and design assist us in providing the following off-site and on-site services to you:</p>

<p><b>Off-Site:</b><br><IMG SRC="/static/images/kilolab/kilo.jpg" ALIGN="right"/>
	&bull;&nbsp;Design & Supply of Glass Pilot Plants and Process Plants.<br>
	&bull;&nbsp;Basic Engineering<br>
	&bull;&nbsp;Detailed Engineering<br>
	&bull;&nbsp;Preparation of as built drawing<br>
	&bull;&nbsp;Design and supply of custom-made equipment<br>
</p>

<p><b>On-Site:</b><br>
	&bull;&nbsp;Stage-wise Inspection<br>
	&bull;&nbsp;Erection at site<br>
	&bull;&nbsp;Mechanical Testing<br>
	&bull;&nbsp;Commissioning<br>
	&bull;&nbsp;De-bottle necking & streamlining<br>
</p><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/6q2x2-V42Yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=kilo">Services</a></li>
		<li>&bull;<a href="/turnkey?page=labauto">Laboratory Automation</a></li>
	</ul>
	<br>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>