<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Laboratory Setups</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/labset.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Laboratory Setups</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Turnkey Lab Setups including Lab furniture along with Utility Pipelines, Gas Distribution Systems, Scrubbers, Ducting, Modular Panels and HVAC. Our other services include:</p>
<p>	&bull;&nbsp;Modular Lab Furniture<br>
	&bull;&nbsp;Fume Hoods<br>
	&bull;&nbsp;Vertical/Horizontal LAFs<br>
	&bull;&nbsp;Working Table<br>
</p>

<p>
	&bull;&nbsp;Anti Vibration Table<br>
	&bull;&nbsp;Storage Cabinet<br>
	&bull;&nbsp;Reagent Racks<br>
	&bull;&nbsp;Spot Gas Extractor<br>
	&bull;&nbsp;Eye wash<br>
	&bull;&nbsp;Safety Showers<br>
	&bull;&nbsp;Lab Stool/Chairs<br>
	&bull;&nbsp;Table top/Fume hood Gas Valves<br>
	&bull;&nbsp;All Electrical utilities<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=labfurn"><h4>Laboratory Furniture</h4></a>
	<ul>
			<li>&bull;<a href="/turnkey?page=fumehood">Fume Hoods</a></li>
			<li>&bull;<a href="/turnkey?page=labtab">Modular Lab Table</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>