<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/mistshower.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Mist Shower</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>Cycle -> Mist , Water & Air</p></blockquote>
<p>
	&bull;&nbsp;With Dedicated AHU unit for Supply of Air & Exhaust through BIBO Unit<br>
	&bull;&nbsp;MOC : SS 304 Micro Processor controller supervises all functions like Mist, Water & Air through HMI + PLC System<br>
	&bull;&nbsp;Pass Box inside the mist shower to dump & collect PPE<br>
	&bull;&nbsp;Emergency Switch inside the Mist Shower for Operator safety<br>
	&bull;&nbsp;Elector Magnetic Interlocking system for Mist shower doors<br>
</p>

<p>The unit is required for the deactivating contaminants from the Personnel protective equipment’s for the persons working in the Potent area’s in Formulation R&D Lab.
</p>
<p>The Mist shower should ensure that each and every part of the PPE is exposed to the mist thereby ensuring that the contaminants are adhered to the garment so that they are not easily released in the environment.</p>
<p>Mist shower also prevents risk of spreading even in the areas outside the shower cabinet.</p>
<p>Air is forced by the blowers through HEPA filtration and enters to the Nozzles; Filter air is ejected through Nozzles at high velocity in to the chamber. These turbulent air streams disperse particulate matter on all surfaces.</p>
<p>Blower suck air from inside the chamber itself and recirculate through the bottom chamber pre-filter, the air is continuously filtered and recirculate pass through the HEPA filter by Dedicate AHU Unit.</p>
<p>The air shower self-contained device and does not exchange air with the environment it is placed in.</p>
<p>Supply filter shall be designed Mini pleated HEPA filtration achieves 99.99% typical efficiency at 0.3 micron, Pre Filter arrestance 90% efficiency</p>
<p>The bottom of the shower shall be designed complete with drip tray drainage; the crossing shall be designed by a grid AISI 304 stainless steel removable for cleaning.</p>
<p>Walk able & removable grid shall be designed for removing under basin. Basin required for collecting drain.</p>
<p>PPE suit will be dumped to the Deactivated PPE suite dump box and operator will exit the shower. There will be external hatch door to access Deactivated PPE suite dump</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
	<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br> -->
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>