<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Mixers</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/ahu.JPG" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Vortex Mixer</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Air handling unit (often abbreviated to AHU), is a device used to regulate and circulate air as part of a heating, ventilating, and air-conditioning (HVAC) system. An air handler is usually a large metal box containing a blower, heating or cooling elements, filter racks or chambers, sound attenuators, and dampers. Air handlers usually connect to a ductwork ventilation system that distributes the conditioned air through the building and returns it to the AHU.</p>

<p>Our AHUs are designed for lower foot prints, higher energy efficiency, modularity and a host of other features like thermal braking and other custom designed features.</p>
<p>
	&bull;&nbsp;Continual room air cleaning<br>
	&bull;&nbsp;Three stage filter system with electrostatic filter<br>
	&bull;&nbsp;High energy efficiency<br>
	&bull;&nbsp;Rapid, space-saving mounting<br>
	&bull;&nbsp;Modular construction and a complete system solution<br>
	&bull;&nbsp;Durable quality components<br>
	&bull;&nbsp;Low investment, operation and maintenance costs<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="#"><h4>Mixers</h4></a>
	<ul>
			<li>&bull;<a href="#">Vortex Mixer</a></li>
			<li>&bull;<a href="#">Digital Vortex Mixer</a></li>
	</ul>
</div>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>