<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
</div>

<div class="entry-title">
<h2>Mini & Pilot Plant Reactor - Stationary Stand</h2>
</div>

<div class="entry-content notopmargin">

<br>

<a href="#"><img src="/static/images/kilolab/mpp.jpg" alt="Blog Single"></a>
<br><br>
<a href="#"><img src="/static/images/kilolab/mpp2.jpg" alt="Blog Single"></a>
<br><br><br><br><br>

</div>

<div class="entry-title">
<h2>Mini & Pilot Plant Reactor - Fully Functional Stand</h2>
</div>

<div class="entry-content notopmargin">

<br>

<a href="#"><img src="/static/images/kilolab/mpp3.jpg" alt="Blog Single"></a>
<br><br>
<a href="#"><img src="/static/images/kilolab/mpp4.jpg" alt="Blog Single"></a>
<br><br>
<p>*For representational purposes only</p>
</div>

</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutschefilters"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=dwall"><h4>Glass Reactors</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=breactor">Benchtop Reactor</a></li>
		<li>&bull;<a href="/turnkey?page=mppreactor">Mini & Pilot Plant Reactor</a></li>
	</ul>
	<br>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>