<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Offices</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/office.JPG" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Modular Offices</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Complete solution for modular office Setup including design, supply, and installation.</p>

<p>
	&bull;&nbsp;Modular Office Furniture<br>
	&bull;&nbsp;Modular Office Partitions<br>
	&bull;&nbsp;False Ceiling<br>
	&bull;&nbsp;Electricals<br>
	&bull;&nbsp;LAN Cabling<br>
	&bull;&nbsp;EPBX Setup<br>
	&bull;&nbsp;Public Address System<br>
	&bull;&nbsp;Air Conditioning<br>
	&bull;&nbsp;Access Control<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=office"><h4>Modular Offices</h4></a>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>