<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Rollers</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/product_5.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Tube Rollers</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>LAF Unit offers proven protection for samples and processes. The work area is continuously supplied with positive pressure.</p></blockquote>
<p>Unidirectional Air Flow Units are designed for offering highest product protection by providing ISO Class 5 particle free work area for handling critical process. LAF offers proven protection for the samples and processes. The work area is continuously supplied with positive pressure.</p>

<p>The laminarity of the flow prevents cross contamination between the items handled in the working space.<br>
	&bull;&nbsp;Horizontal Laminar Air Flow Unit<br>
	&bull;&nbsp;Vertical Laminar Air Flow Unit<br>
	&bull;&nbsp;Mobile Laminar Air Flow Unit<br>
	&bull;&nbsp;Sterile Trolley<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="#"><h4>Rollers</h4></a>
	<ul>
		<li>&bull;<a href="#">Tube Rollers</a></li>
		<li>&bull;<a href="#">Bottle Rollers</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>