<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Rotators</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/airshower.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Tube Rotators</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>Air Shower is designed to supply Class 100 HEPA filtered air at high velocity to remove particulate matter from the person entering into the Cleanroom.</p></blockquote>

<p>Air shower is a self-contained air chamber installed at the entrance to cleanrooms in order to minimize the amount of particulate contaminants entering the cleanroom. Personnel move through the air shower while particulate contaminants are washed off with high velocity HEPA-filtered air jets. The high air velocity of 6000 FPM ensures efficient scrubbing action necessary to remove particulate matter. Contaminated air is then taken in through the base of the unit, filtered, and re-circulated into the chamber.</p>
	<p>&bull;&nbsp;Two stage filtration- EU6 and EU 14<br>
	&bull;&nbsp;SS 304 doors with double walled flush glass view panels & door closer<br>
	&bull;&nbsp;Air cleanliness - ISO Class 5 (ISO 14644-1:1999 (E)<br>
	&bull;&nbsp;Air Velocities- 6000 fpm<br>
	&bull;&nbsp;Vibration Level - Minimum<br>
	&bull;&nbsp;Noise Level - Less than 70 dB<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=partitions"><h4>Rotators</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=walls">Tube Rotators</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Plate Rotators</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>