<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Evaporators & Thermo Syphon Evaporators</h2>
</div>

<div class="entry-content notopmargin">

<br>

<p>In the chemical and pharmaceutical industries, circulation evaporators form part of the standard equipment for thermal separation of materials. Spectevo plans and supplies circulation evaporators with coil heat exchangers, basket type or bayonet type heaters of corrosion-resistant metals, block heat exchangers and annular-groove heat exchangers of graphite and with Shell and tube heat exchangers specially for use as heaters.</p>
<p><b>Types Of Construction:</b></p>
<p>Different types of construction of the circulation evaporator allow adaptation to the process requirements and the type most frequently encountered is a shell and tube heat exchanger with circulation. Due to the thermos-syphon effect (natural air-circulation) or by means of a centrifugal pump (forced circulation), a turbulent fluid flow along with the evaporator surface is produced. This flow is a necessary condition for good heat transfer between the heating medium and the product to be evaporated. Depending on the type of heating 2 different types of Shell and tube heat exchangers of borosilicate glass are supplied:</p>
<p>
	&bull;&nbsp;<b>Heating With Low Pressure Steam Or Heat Transfer Oil:</b><br>
	For use with low pressure steam or heat transfer oil , a heater with a glass shell and PTFE tube plates was developed , based on the shell and tube heat exchangers proven over many years. The external diameter of the evaporator tubes is 14 mm. To improve the heat transfer in operation with heat transfer oil, baffle segments are provided in the shell space.<br>
	<br>
	&bull;&nbsp;<b>Heating With Saturated Steam (6 Bar Max.):</b><br>
	For use with saturated steam upto a maximum of 6 bar, a heater with a steel shell and steel/PFA tube plate is available. The evaporator tubes of 20 mm external diameter are sealed in the tube plates by pressure tight gland packing. Baffles in the shell space are not envisaged for this type. In both cases , the product flows through the tubes, and the tube length is 1000 mm as standard. The small volume of this arrangement results in a correspondingly short residence time of the product in circulation and thus meets any important requirement for the mild treatment of temperature-sensitive substances.
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=spdist">Short Path Distillation</a></li>
		<li>&bull;<a href="/turnkey?page=tfevap">Thin Film Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=rotevap">Rotary Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=tsevap">Evaporators & TS Evaporators</a></li>
	</ul>
	<br>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>