<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/product_2.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Walls</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>A vital ingredient in the creation of Cleanrooms, Wall panels form a substantial part of our product offerings. Spectevo wall panels are manufactured in standard sizes and can also be customized depending on the requirement.</p>

<p><b>Specifications:</b><br>
		&bull;&nbsp;<b>Standard size:</b> 1200 X 3000mm (Other sizes customizable on request)<br>
		&bull;&nbsp;<b>MOC:</b> GI Pre-Coated / GI powder-coated / SS -304<br>
		&bull;&nbsp;<b>Thickness:</b> 0.6 / 0.8 / 1mm<br>
		&bull;&nbsp;<b>Skin Type:</b> GPSP sheet / Aluminium sheet<br>
		&bull;&nbsp;<b>Panel Thickness:</b> 50 / 80 / 100mm<br>
		&bull;&nbsp;Fastened to extruded aluminium / GI profiles<br>
		&bull;&nbsp;Fire retardant PUF as In-Fill (Other In-Fill options available on request)<br>
		&bull;&nbsp;Factory- made cutouts for integration with Pass boxes, Autoclaves etc<br>
		&bull;&nbsp;Factory- made cutouts for in-built power sockets and Magnehelic manometers<br>
</p>


</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br>
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul> -->


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>