<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/biosafety.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Bio-Safety Cabinets</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>All Class II cabinets are designed for work involving microorganisms assigned to bio safety levels 1, 2 and 3.</p></blockquote>

<p>Bio-safety cabinets are designed to provide personnel, environmental and product protection. Air flow is drawn around the operator into the front grille of the cabinet which provides personnel protection. Additionally, the downward laminar flow of HEPA-filtered air provides product protection by minimizing the chance of cross-contamination along the work surface of the cabinet. Because cabinet air passes through the exhaust HEPA filter, it is contaminant-free (environmental protection). All Class II cabinets are designed for work involving microorganisms assigned to bio safety levels 1, 2 and 3. Class II cabinets provide the microbe-free work environment necessary for cell culture propagation, and also may be used for the formulation of non-volatile antineoplastic or hemotherapeutic drugs. Bio safety cabinets are available in powder coated Galvanized Steel, SS 304 / SS 316 or a combination of both.</p>
<p>
	&bull;&nbsp;Two stage filtration- EU6 and EU 14<br>
	&bull;&nbsp;Double walled flushed Glass Side Panels<br>
	&bull;&nbsp;Sealed Fluorescent Lights with Milky White Diffuser<br>
	&bull;&nbsp;Clean Down Timer with Operation HOLD indicator<br>
	&bull;&nbsp;1-piece fully openable sliding toughened glass front door with counterweight arrangement<br>
	&bull;&nbsp;Alarm triggers in case front door is raised more than 8 inches / 200 mm<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
	<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul>

	<br> -->
	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>