<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>BMS/IBMS/EMS</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/bms.jfif" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Integrated Building Management Systems</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>A building management system (BMS), otherwise known as a building automation system (BAS), is a computer-based control system installed in buildings that controls and monitors the building's mechanical and electrical equipment such as ventilation, lighting, power systems, fire systems, and security systems. A BMS consists of software and hardware; the software program, usually configured in a hierarchical manner.</p>

<p>Design, Installation, commissioning of integrated Building Management System including online facility management complying to 21 CFR Part 11.</p>
<p>
	&bull;&nbsp;HVAC Automation<br>
	&bull;&nbsp;Fire Detection & Protection<br>
	&bull;&nbsp;Centralized Access Control<br>
	&bull;&nbsp;CCTV<br>
	&bull;&nbsp;Public Address System<br>
	&bull;&nbsp;Integration of all systems into IBMS<br>
	&bull;&nbsp;Solar System/Windmill Integration<br>
</p>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/turnkey?page=bms"><h4>BMS/IBMS/EMS</h4></a>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>