<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Modular Cleanrooms</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Modular Cleanrooms</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>Cleanroom is an environment, typically used in manufacturing or scientific research, that has a low level of environmental pollutants such as dust, airborne microbes, aerosol particles and chemical vapours.</p></blockquote>


<p>A cleanroom has a controlled level of contamination that is specified by the number of particles/m3 and by maximum particle size. To give a perspective, external environment would be considered about a 5,000,000 class cleanroom.</p>

<p>Cleanrooms can be small or very large. Entire manufacturing facilities can be contained within a cleanroom with factory floors covering thousands of square meters. They are used extensively in Semiconductor manufacturing, Biotechnology, Life sciences and other fields that are very sensitive to environmental contamination.</p>

<p>The air entering a cleanroom from outside is filtered to exclude dust and the air inside is constantly recirculated through High Efficiency Particulate Air (HEPA) and Ultra Low Penetration Air (ULPA) filters to remove internally generated contaminants.</p>

<blockquote><p>Cleanroom HVAC systems often control the humidity to low levels, such that extra precautions are necessary to prevent electrostatic discharges. Entering a cleanroom usually requires wearing a cleanroom suit.</p>

<p>Cleanrooms can be very large. Entire manufacturing facilities can be contained within a cleanroom with factory floors covering thousands of square meters.</p>

<p>They are used extensively in Semiconductor manufacturing, Biotechnology, Life sciences and other fields that are very sensitive to environmental contamination.</p></blockquote>
</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=cleanrooms"><h4>Modular Cleanrooms</h4></a>
<a href="/turnkey?page=partitions"><h4>Modular Partitions</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=walls">Wall</a></li>
		<li>&bull;<a href="/turnkey?page=ceiling">Ceiling</a></li>
		<li>&bull;<a href="/turnkey?page=doors">Doors</a></li>
		<li>&bull;<a href="/turnkey?page=flooring">Flooring</a></li>
	</ul> -->

	<a href="/turnkey?page=cleanroomequipments"><h4>Cleanroom Equipments</h4></a>
	<!-- <ul>
		<li>&bull;<a href="/turnkey?page=passbox">Pass Box</a></li>
		<li>&bull;<a href="/turnkey?page=airflowunit">Air Flow Unit</a></li>
		<li>&bull;<a href="/turnkey?page=airshower">Air Shower</a></li>
		<li>&bull;<a href="/turnkey?page=steriletrolley">Sterile Trolley</a></li>
		<li>&bull;<a href="/turnkey?page=biosafetycabinet">Bio-Safety Cabinet</a></li>
		<li>&bull;<a href="/turnkey?page=booth">Dispensing & Sampling Booth</a></li>
		<li>&bull;<a href="/turnkey?page=debooth">De-Dusting Booth/Tunnel</a></li>
		<li>&bull;<a href="/turnkey?page=mistshow">Mist Shower</a></li>
	</ul> -->

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>