<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Double Wall Glass Reactor With Ring Baffle And Without Ring Baffle</h2>
</div>

<div class="entry-content notopmargin">

<br>

<p>Spectevo has over 3 years of experience in making Bench Top and Pilot-Plant Glass Reactors. Made out of Borosilicate Glass 3.3 & Quartz glass which is meant to withstand wide temperature range from -110 to 230 deg centigrade, and pressure from vacuum to atmospheric, our Reactors are known for their ease of operation, easy customization and superior process performance. These Bench Top and Pilot Plant reactors are single and double jacketed (double and triple walled), with and without ring baffle.</p>
<p>The glass ring baffles distribute heat transfer fluid evenly throughout the jacket, promoting precise temperature control allowing temperature control units to operate at maximum efficiency with fast heating/cooling response.</p>
<p><b>Less Time And More Productivity</b></p>
<p>Faster and more uniform temperature control will lead to improved productivity with shorter process time and higher yield per batch, accelerating the progress and reducing the costs in many aspects of your research.
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutschefilters"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=dwall"><h4>Glass Reactors</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=dwall">Double Wall</a></li>
		<li>&bull;<a href="/turnkey?page=twall">Triple Wall</a></li>
	</ul>
	<br>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>