<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Laboratory Setups</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/fumehood.jpg" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Fume Hoods</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>A fume hood is a type of local ventilation device that is designed to limit exposure to hazardous or noxious fumes, vapors or dust.</p></blockquote>
<p>We offer a complete line of benchtop, walk-in, and teaching hoods, including a wide selection of hood accessories, cabinets, countertops and blowers. Our Fume Hoods combine effective control, from exposure to hazardous chemicals and agents used in the laboratory.</p>
<p>With a reputation for exceptional value, our fume hoods are found in industrial, pharmaceutical and laboratories across the country. We make Exhaust Hood keeping in mind maximum user comfort with exquisite workmanship. You can expect easy access to our knowledgeable staff at every phase of the project. Our quality and timely delivery ensures we satisfy even the most demanding customers.</p>
<p>
	&bull;&nbsp;Wide range of C-Frame systems for every need<br>
	&bull;&nbsp;Adaptable to changing demands of the lab<br>
	&bull;&nbsp;Easy to shift and easy portability<br>
	&bull;&nbsp;High load bearing capability<br>
	&bull;&nbsp;Easy access to rear ducts for stress free utility line maintenance<br>
	&bull;&nbsp;Modularity and aesthetics<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
		<a href="/turnkey?page=labfurn"><h4>Laboratory Furniture</h4></a>
	<ul>
			<li>&bull;<a href="/turnkey?page=fumehood">Fume Hoods</a></li>
			<li>&bull;<a href="/turnkey?page=labtab">Modular Lab Table</a></li>
	</ul>
</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>