<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include 'menuindex.html' %}

<section id="slider" class="slider-element slider-parallax full-screen force-full-screen">
<div class="slider-parallax-inner">
<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('/static/images/page/main.jpg'); background-size: cover; background-position: center center;">
<div class="container center">
<div class="vertical-middle">
<div class="emphasis-title">
<h1>
<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="3000">
<span class="t-rotate t700 font-body opm-large-word">We.|Integrate.|Solutions.</span>
</span>
</h1>
</div>
<a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">View our Works</a>
</div>
</div>
<div class="video-wrap">
<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
</div>
<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
</div>
</div>
</section>

<section id="content">
<div class="content-wrap nopadding">
<div id="section-about" class="center page-section">
<div class="container clearfix">
<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">Who is Spectevo?</h2>
<p class="lead divcenter bottommargin" style="max-width: 800px;">We have been around for over 3 years, but our environment is akin to a start-up. We are a rapidly growing family of businesses with high performing teams who strive to exceed our customers’ expectations every day.  Spectevo is evolving as we continue to grow and expand the business globally. Just like each of us, each department and location has its own personality, but we are One Company, One Team.
<br><br>
<b>Explore our products and services from the subsidairies below:</b>
</p>
<!--< p class="bottommargin" style="font-size: 16px;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="icon-angle-right"></i></a></p> -->
<div class="clear"></div>

<div class="row topmargin-lg divcenter" style="max-width: 1000px;">
<div class="col-md-4 bottommargin">
<div class="team">
<div class="team-image">
<a href="/turnkey?page=index">
<img src="/static/images/team/1.jpg" alt="John Doe">
<div class="team-overlay">
</div>
</a>
</div>
<div class="team-desc team-desc-bg">
<div><h4>Products & Services</h4><span></span></div>
</div>
</div>
</div>

<div class="col-md-4 bottommargin">
<div class="team">
<div class="team-image">
<a href="/getlist">
<img src="/static/images/team/2.jpg" alt="Josh Clark">
<div class="team-overlay">
</div>
</a>
</div>
<div class="team-desc team-desc-bg">
<div><h4>Research Based Chemicals</h4><span></span></div>
</div>
</div>
</div>
<div class="col-md-4 bottommargin">
<div class="team">
<div class="team-image">
<img src="/static/images/team/3.jpg" alt="Mary Jane">
<div class="team-overlay">
<div class="team-social-icons">
<a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
<i class="icon-twitter"></i>
<i class="icon-twitter"></i>
</a>
<a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
<i class="icon-vimeo"></i>
<i class="icon-vimeo"></i>
</a>
<a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
<i class="icon-instagram"></i>
<i class="icon-instagram"></i>
</a>
</div>
</div>
</div>
<div class="team-desc team-desc-bg">
<div><h4>Laboratory Equipments</h4><span></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="section-works" class="page-section notoppadding">
<div class="section nomargin">
<div class="container clearfix">
<div class="divcenter center" style="max-width: 900px;">
<h2 class="nobottommargin t300 ls1"><b>We create &amp; craft projects that ooze creativity in every aspect. Below are some of the samples of Modular Cleanrooms, HVAC Systems, BMS, Laboratory Setups, Pilot Plants & Process plants, we have set up recently. Take a moment to browse through our works...</b></h2>
</div>
</div>
</div>

<div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">
<article class="portfolio-item pf-media pf-icons wide">
<div class="portfolio-image">
<a href="/turnkey?page=cleanrooms">
<img src="/static/images/portfolio/mixed/1.jpg" alt="Modular Cleanrooms">
</a>
<div class="portfolio-overlay">
<div class="portfolio-desc">
<h3><a href="/turnkey?page=cleanrooms">Modular Cleanrooms</a></h3>
<span><a href="/turnkey?page=cleanrooms"><button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" value="submit">View Our Works</button></a>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-illustrations">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/2.jpg" alt="BMS/IBMS/EMS">
</a>
<div class="portfolio-overlay">
<div class="portfolio-desc">
<h3><a href="/turnkey?page=bms">BMS/IBMS/EMS</a></h3>
<span><a href="/turnkey?page=bms"><button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" value="submit">View Our Works</button></a>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-graphics pf-uielements">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/3.jpg" alt="Mac Sunglasses">
</a>
</div>
</article>
<article class="portfolio-item pf-media pf-icons wide">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/4.jpg" alt="Open Imagination">
</a>
<div class="portfolio-overlay">
<div class="portfolio-desc">
<h3><a href="/turnkey?page=hvac">HVAC Systems</a></h3>
<span><a href="/turnkey?page=hvac"><button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" value="submit">View Our Works</button></a>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-uielements pf-media wide">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/5.jpg" alt="Console Activity">
</a>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/6.jpg" alt="Open Imagination">
</a>
</div>
</article>
<article class="portfolio-item pf-uielements pf-icons">
<div class="portfolio-image">
<a href="#">
<img src="/static/images/portfolio/mixed/7.jpg" alt="Backpack Contents">
</a>
</div>
</article>
</div>
</div>
<div id="section-services" class="page-section notoppadding">
<div class="section nomargin">
<div class="container clearfix">
<div class="divcenter center" style="max-width: 900px;">
<h2 class="nobottommargin t300 ls1">We enjoy working on the Services &amp; Products we provide as much as you need them. This help us in delivering your Goals easily. Browse through the wide range of services we provide.</h2>
</div>
</div>
</div>
<div class="row align-items-stretch">
<div class="col-lg-4 d-none d-md-block" style="background: url('/static/images/services/main-bg.jpg') center center no-repeat; background-size: cover;"></div>
<div class="col-lg-8">
<div>
<div class="row align-items-stretch grid-border clearfix">
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-mobile"></i></a>
</div>
<h3>User Friendly</h3>
</div>
</div>
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-presentation"></i></a>
</div>
<h3>Elegant Solutions</h3>
</div>
</div>
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-puzzle"></i></a>
</div>
<h3>Extensively Extendable</h3>
</div>
</div>
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-gears"></i></a>
</div>
<h3>Powerfully Customizable</h3>
</div>
</div>
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-genius"></i></a>
</div>
<h3>Geniusly Transformable</h3>
</div>
</div>
<div class="col-lg-4 col-md-6 col-padding">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon">
<a href="#"><i class="icon-et-hotairballoon"></i></a>
</div>
<h3>Industrial Support</h3>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section dark nomargin">
<div class="divcenter center" style="max-width: 900px;">
<h2 class="nobottommargin t300 ls1">Like Our Services? <a href="#" data-scrollto="#template-contactform" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large notopmargin nobottommargin" style="position: relative; top: -3px;">Contact Us</a></h2>
</div>
</div>
<div class="section parallax nomargin dark" style="background-image: url('/static/images/page/testimonials.jpg'); padding: 150px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
<div class="container clearfix">
<div class="col_two_fifth nobottommargin">&nbsp;</div>
<div class="col_three_fifth nobottommargin col_last">
<div class="fslider testimonial testimonial-full nobgcolor noborder noshadow nopadding" data-arrows="false">
<div class="flexslider">
<div class="slider-wrap">
<div class="slide">
<div class="testi-content">
<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque vero numquam?</p>
<div class="testi-meta">
Steve Jobs
<span>Apple Inc.</span>
</div>
</div>
</div>
<div class="slide">
<div class="testi-content">
<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
<div class="testi-meta">
Collis Ta'eed
<span>Envato Inc.</span>
</div>
</div>
</div>
<div class="slide">
<div class="testi-content">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
<div class="testi-meta">
John Doe
<span>XYZ Inc.</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="section-contact" class="page-section notoppadding">
<div class="row noleftmargin norightmargin bottommargin-lg align-items-stretch">
<a href="https://goo.gl/maps/KkZp68fvjuZgvPH2A" target="_blank"><img src="/static/images/location.png" height="550" width="1000" ></img></a>
<div class="col-lg-4 col-md-6" style="background-color: #F5F5F5;">
<div class="col-padding">
<h3 class="font-body t400 ls1"><b>Our Locations:</b></h3>
<div style="font-size: 16px; line-height: 1.7;">
<address style="line-height: 1.7;">
<!-- <strong>:</strong><br> -->
<b>Head Office:</b><br>2nd Floor, 13 RDC, Advocate Chamber,<br>Raj Nagar District Centre,<br>Ghaziabad - 201002<br><br>
<b>Factory</b>:<br>G/1, Naidu’s Amruday Anand Nagar,<br>Mirzalguda, Hyderabad - 500047
</address>
<div class="clear topmargin"></div>
<abbr title="Phone Number"><b>Phone:</b></abbr> +91 9821258751,<br>+91 8527209426<br>
<abbr title="Email Address"><b>Email:</b></abbr> info@spectevo.in
</div>
</div>
</div>
</div>
<div class="container clearfix">
<div class="divcenter topmargin" style="max-width: 850px;">
<div>
<!-- <div class="form-result"></div> -->
<h3 style="text-align:center">Get in touch with us!</h3>
<form class="nobottommargin" action="/contactus" method="post">
<!-- <div class="form-process"></div> -->
<div class="col_half">
<input type="text" id="name" name="name" value="" class="sm-form-control border-form-control required" placeholder="Name" />
</div>
<div class="col_half col_last">
<input type="email" id="template-contactform-email" name="email" value="" class="required email sm-form-control border-form-control" placeholder="Email Address" />
</div>
<div class="clear"></div>
<div class="col_one_third">
<input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control border-form-control" placeholder="Phone" />
</div>
<div class="col_two_third col_last">
<input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control border-form-control" placeholder="Subject" />
</div>
<div class="clear"></div>
<div class="col_full">
<textarea class="required sm-form-control border-form-control" id="message" name="message" rows="7" cols="30" placeholder="Your Message"></textarea>
</div>
<div class="col_full center">
<button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" value="submit">Send Message</button>
<br>
<small style="display: block; font-size: 13px; margin-top: 15px;">We'll do our best to get back to you within 48 working hours.</small>
<!-- </div>
<div class="clear"></div>
<div class="col_full hidden">
<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
</div>
<input type="hidden" name="prefix" value="template-contactform-"> -->
</form>
</div>
</div>
</div>
</div>
</div>
</section>

{% include 'footer.html' %}

</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/one-page/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jan 2020 06:29:55 GMT -->
</html>