<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Laboratory Automation</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Laboratory automation is a multi-disciplinary strategy to research, develop, optimize and capitalize on technologies in the laboratory that enable new and improved processes. The automation technology is meant to enable, expedite and increase the efficiency and effectiveness of scientific research in laboratories.</p>

<p>We provide instrumentation and automation solutions for Kilo Lab, mini plant and large scale process plants.</p>

<p>Our solutions range from single HMI to DCS systems customized to suit the customers requirement.</p>

<p>Being manufacturer independent, we tailor the best solution for our client using world class products such as BECKHOFF, SIEMENS, E&H, JUMO, P&F, STAHL etc.</p>

<div style="display: flex; justify-content: center;">
  <a href="#"><img align="middle" src="/static/images/kilolab/automation.jpg" alt="Blog Single"></a>
</div>
<br><br>

<p>Alongwith our reactors our automation solutions are certified for clean room, Safe area and Hazardous area classified zones.</p>

<p>We couple the latest advancements in instrumentation with our glass fabrication capabilities to provide accurate measurement and control of process parameters.</p>

<p><b>Measurement:</b><br>
	&bull;&nbsp;Reactor Temperature<br>
	&bull;&nbsp;Vapour Temperature<br>
	&bull;&nbsp;Vent Temperature<br>
	&bull;&nbsp;Pressure<br>
	&bull;&nbsp;pH<br>
	&bull;&nbsp;ORP<br>
	&bull;&nbsp;Conductivity<br>
	&bull;&nbsp;Level<br>
	&bull;&nbsp;Viscosity<br>
	&bull;&nbsp;Weighing Systems<br>
</p>

<p><b>Control:</b><br>
Reactor temperature control with Heating Cooling System (-90oC to 200oC)Reactor pH control with peristaltic pumps, syringe pumps, Stirrer speed controlAutomated lifting/lowering for interchanging reactor.</p>
</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=kilo">Services</a></li>
		<li>&bull;<a href="/turnkey?page=labauto">Laboratory Automation</a></li>
	</ul>
	<br>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>