<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Laboratory Setups</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
<a href="#"><img src="/static/images/blog/full/labtab.png" alt="Blog Single"></a>
</div>

<div class="entry-title">
<h2>Laboratory Table</h2>
</div>

<div class="entry-content notopmargin">

<br>
<blockquote><p>Island Worktable is used for performing various tests by scientist/chemists.</p></blockquote>

<p>Our Work Tables are manufactured in various designs and shapes, custom made to suit customer's requirements. The construction material is epoxy coated galvanized iron with suitable thickness. The system are designed to be fitted with pedestal system and as per clients specifications. Provision for reagent racks, valves for water and gas along with required electrical connections and any other provisions as required. The system is designed and available with various knee gap models or continous modular styles.</p>
<p>
	&bull;&nbsp;High quality GI powder / epoxy coated<br>
	&bull;&nbsp;Various sizes and shapes and colors<br>
	&bull;&nbsp;Custom designed as per requirement<br>
	&bull;&nbsp;Shutters and drawers as required<br>
	&bull;&nbsp;Special hinges and electrical points<br>
	&bull;&nbsp;Leg space as per requirement<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
	
	<a href="/turnkey?page=labfurn"><h4>Laboratory Furniture</h4></a>
	<ul>
			<li>&bull;<a href="/turnkey?page=fumehood">Fume Hoods</a></li>
			<li>&bull;<a href="/turnkey?page=labtab">Modular Lab Table</a></li>
	</ul>
</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>