<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Glass Nutsche Filters</h2>
</div>

<div class="entry-content notopmargin">

<br>
<p>Spectevo can supply Non-Jacketed Nutsche Filters up to 300 Liters and Double Wall ; Jacketed Filters up to 100 litres. The design pressure is less than 2bar G. The key features of the Nutsche Filter are:</p>

<p>
	&bull;&nbsp;Effective Filtration – Maximized filtering efficiency<br>
	&bull;&nbsp;Leak-proof Mounting System –Unique Filter Housing Prevents Leakage<br>
	&bull;&nbsp;Easy Adjustment and Centering- Asahi Engineered Guided Mounting System for ease of Use<br>
	&bull;&nbsp;Convenient Handling Cart<br>
	&bull;&nbsp;Nozzle Orientation- can be arrange to suit client’s needs. E.g Stirrer handle, Feed pipe, Spray nozzle<br>
	&bull;&nbsp;Filter housing- Leak-proof mounting system, high sealing performance. Filter: PEEK, PTFE,PP. Mesh Size: 1- 5,100µm<br>
	&bull;&nbsp;Stirring apparatus – Locking, multi-directional stirring devise maintains a uniform cake (upto 150mm)<br>
	&bull;&nbsp;Customized configuration are also available.<br>
</p>

<p><b>Control:</b><br>
Reactor temperature control with Heating Cooling System (-90oC to 200oC)Reactor pH control with peristaltic pumps, syringe pumps, Stirrer speed controlAutomated lifting/lowering for interchanging reactor.</p>
</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=nutbreactor">Glass Nutsche Filters</a></li>		
		<li>&bull;<a href="">Glass Nutsche Filters</a></li>
	</ul>
	<br>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>