<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html' %}


<section id="page-title">
<div class="container clearfix">
<h1>Portfolio</h1>
<span>Showcase of Our Awesome Works in 5 Columns</span>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Portfolio</li>
</ol>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">


<div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
<i class="icon-random"></i>
</div>
<div class="clear"></div>

<div id="portfolio" class="portfolio grid-container portfolio-5 clearfix">
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
<article class="portfolio-item pf-media pf-icons">
<div class="portfolio-image">

<a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><img src="/static/images/portfolio/4/1.jpg" alt="Open Imagination"></a>


</div>
<div class="portfolio-desc">
<h3 style="text-align: center;"><a href="/static/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image">Open Imagination</a></h3>
</div>
</article>
</div>
</div>
</div>
</section>

{% include 'footer.html' %}
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/portfolio-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Mar 2020 16:31:38 GMT -->
</html>