<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
</div>

<div class="entry-title">
<h2>Rotary Evaporator</h2>
</div>

<div class="entry-content notopmargin">

<br>

<a href="#"><img src="/static/images/kilolab/rotevap.jpg" alt="Blog Single"></a>

<p>Spectevo makes world’s largest Rotary Evaporator upto 200 liters. The rotation flask capacity are 10L, 20L, 30L, 50L, 100L, 200L. Descending versions and explosion proof models are available. Customization is also possible. We can also provide Flask Handling Cart for 50L,100L and 200L models. The flask handling cart facilitates:</p>
<p>
	&bull;&nbsp;No need to wait for cool down<br>
	&bull;&nbsp;Material gets easily emptied out from the flask<br>
	&bull;&nbsp;Safe transporting of the flask<br>
	&bull;&nbsp;Easy cleaning<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=spdist">Short Path Distillation</a></li>
		<li>&bull;<a href="/turnkey?page=tfevap">Thin Film Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=rotevap">Rotary Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=tsevap">Evaporators & TS Evaporators</a></li>
	</ul>
	<br>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>