<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
</div>

<div class="entry-title">
<h2>Short Path Distillation</h2>
</div>

<div class="entry-content notopmargin">

<br>

<a href="#"><img src="/static/images/kilolab/spdist.jpg" alt="Blog Single"></a>

<p>Molecular distillation system is meant to carry out vacuum distillation at high temperature and high vacuum (>0.001mBar). It is a process of separation, purification and concentration. It is more vital for the thermal sensitive distillates. The distillate is exposed to high temperature and high vacuum pressure in the distillation column and a small distance between evaporator and condenser (around 2cm).</p>

<p><b>Some of the features of the system which is under offer are:</b><br>
	&bull;&nbsp;Evaporation surface area of : 0.05 m2 to 0.33 m2<br>
	&bull;&nbsp;Maximum temperature of :- +230 deg C<br>
	&bull;&nbsp;Inner diameter precision in the evaporation tube +/- 0.02 (60A) to +/-0.5mm(150A)<br>
	&bull;&nbsp;The parts that come into contact with fluid are made of borosilicate glass 3.3, PTFE, SS316 and quartz glass<br>
</p>
<p>Sealing : Magnetic coupling.</p>
<p>Short residence time (to avoid thermal decomposition).</p>
<p>Minimum pressure drop due to closely positioned internal condenser.</p>
<p>High vacuum distillation.</p>
<p>Specifically suited for highly viscous or heat sensitive material.</p>
<p>The system does not include overhead stirrer, thermostat and vacuum pump.</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=spdist">Short Path Distillation</a></li>
		<li>&bull;<a href="/turnkey?page=tfevap">Thin Film Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=rotevap">Rotary Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=tsevap">Evaporators & TS Evaporators</a></li>
	</ul>
	<br>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>