<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image">
</div>

<div class="entry-title">
<h2>Thin Film Evaporator</h2>

</div>

<div class="entry-content notopmargin">

<br>

<a href="#"><img src="/static/images/kilolab/tfevap.jpg" alt="Blog Single"></a>

<p>With thin film distillation we can achieve greater reduction in the boing temperature by decreasing the operating pressure. This allows thermal separation of products that would be destroyed by conventional vacuum distillation because of necessary high temperature and long residence time.</p>

<p>In a Thin film evaporator the raw material is heated on the internal surface of a heated tube until lower boiling component starts to evaporate. These vapours are then liquefied on the cold tubes of a condenser. In simple thin film evaporator design the condenser is located outside but as close to the evaporator as possible.</p>

<p>In short path evaporator the condenser is located inside the evaporator body. Due to the different design details, short path evaporators can be used down to 0.001mBar as compared to the conventional thin film evaporators which can be used down to approximately 1 mbar. Residence time in Thin film and Short path evaporators is only few seconds.</p>

<p><b>Some of the key features of the system are:</b><br>
	&bull;&nbsp;High Evaporation Efficiency<br>
	&bull;&nbsp;Minimum Thermal Decomposition<br>
	&bull;&nbsp;Gas and Vacuum Tight<br>
	&bull;&nbsp;Uniform Thin Film<br>
</p>
<p>Jacketed Evaporator for Easy viewing.</p>
<p>Uniform Rotating Wiper System. (Upto 300 deg C) (Option)</p>
<p>Grease-less Magnetic Sealed.</p>
<p>HiBearing, Valves and Joints.</p>
<p>Perfect for Heat Sensitive Materials.</p>
<p>Short Residence Time.</p>

<p><b>The other details of the system under offer are as follows:</b><br>
	&bull;&nbsp;Evaporation Surface area :- 0.05 m2 (DN60), 0.1 m2 (DN100)<br>
	&bull;&nbsp;Maximum Temperature :-+200 deg C (Jacket), +300 deg C (Jacket) is also available<br>
	&bull;&nbsp;PTFE Wiper :-200 deg C, PBI ( Polybenzimidazole) Wiper: 300 deg C<br>
	&bull;&nbsp;Operating Pressure :Atmosphere to+0.1 mbar G<br>
</p>
<p>Maximum Rotation Speed : 400 rpm</p>
<p>The parts that come into contact with fluid are made of borosilicate glass 3.3, PTFE, and SS316.</p>
<p>Sealing : Magnetic Coupling.</p>
<p>The system does not include overhead stirrer, circulator, chiller and vacuum pump.</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=spdist">Short Path Distillation</a></li>
		<li>&bull;<a href="/turnkey?page=tfevap">Thin Film Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=rotevap">Rotary Evaporator</a></li>
		<li>&bull;<a href="/turnkey?page=tsevap">Evaporators & TS Evaporators</a></li>
	</ul>
	<br>
<a href="/turnkey?page=nutbreactor"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=breactor"><h4>Glass Reactors</h4></a>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>