<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Kilo Lab/Pilot Plant</h1>
<br>
<a href="/turnkey?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">





<div class="entry-image"><!-- 
<a href="#"><img src="/static/images/portfolio/mixed/1.jpg" alt="Blog Single"></a> -->
</div>

<div class="entry-title">
<h2>Triple Wall Glass Reactor With Ring Baffle & Without Ring Baffle</h2>
</div>

<div class="entry-content notopmargin">

<br>

<p>The Glass reactors come in various sizes and various vessel options. The sizes range from 300mL to 5L. The triple wall reactor also comes in variety of vessel options. Triple Wall with Ring Baffle, Triple Wall, Double Wall with Ring Baffle, Double Wall. From 10L to 60L (Triple Wall with Ring Baffle) , 100L (Double Wall with Ring Baffle), 300L (Double Wall, Custom-made).</p>
<p>The reactors are provided with Leak-proof flush valve. The pressure sensitive spring loaded flush valve prevents leakage. There is no dead space.</p>
<p>	The 2 main types of the reactors are:<br>
	&bull;&nbsp;Bench-top reactor<br>
	&bull;&nbsp;Mini and Pilot Plant reactors<br>
</p>

<p>Bench-Top Reactor Major Characteristics:<br>
	&bull;&nbsp;Vessel capacity - 300mL,500mL,1L,2L,3L,5L<br>
	&bull;&nbsp;Vessel type - Double Wall, Jacketed and Triple Wall<br>
	&bull;&nbsp;Operating pressure - (-1) bar G Full Vacuum to +0.5 bar G (+0.05 MPa)<br>
	&bull;&nbsp;Operating Jacket Pressure - Up to + 0.5 bar G (+0.05 Mpa)<br>
	&bull;&nbsp;Operating Temperature :- -90 deg C to +230 deg C<br>
	&bull;&nbsp;ΔT :110 deg C (Double Wall), 60 deg C (Triple Wall)<br>
	&bull;&nbsp;This system does not include overhead stirrer, circulator and chiller<br>
</p>

<p>Mini And Pilot Plant Reactor (Fully Functional Stand):<br>
	&bull;&nbsp;Vessel capacity - 10,20,30L<br>
	&bull;&nbsp;Vessel type - Double Wall,Triple Wall<br>
	&bull;&nbsp;Operating pressure - Full Vacuum to +0.5 bar G (+0.05 MPa)<br>
	&bull;&nbsp;Operating Jacket Pressure :- Up to + 0.5 bar G (+0.05 Mpa)<br>
	&bull;&nbsp;Operating Temperature :- -90 deg C to +230 deg C<br>
	&bull;&nbsp;ΔT :110 deg C (Double Wall), 60 deg C (Triple Wall)<br>
	&bull;&nbsp;This system does not include overhead stirrer, circulator and chiller<br>
</p>

<p>There is a time and cost saving since no special tools are needed to install Bench-top reactors.</p>

<p>	There are also 3 choices available for popular stirrer shafts:<br>
	&bull;&nbsp;Anchor Type<br>
	&bull;&nbsp;Screw Propeller Type<br>
	&bull;&nbsp;Retreat curve type<br>
</p>

<p><b>Ring Baffle Technology Uniquely Engineered For Precise Temperature Control:</b></p>
<p>Ring baffle technology forces the thermal fluid in a specific path to ensure heat distribution while maximizing the working surface area promoting even heat transfer by providing rapid temperature recovery due to endothermic or exothermic reactions quickly and efficiently while maximizing the energy provided by temperature control unit.</p>

<p><b>Less Time And More Productivity</b></p>
<p>Precise and uniform temperature control will improve productivity by decreasing process time while increasing higher yields and reducing operating cost of the process.</p>

<p>	Precise Temperature Process Control With Integrated Glass Ring Baffle Technology. Ring Baffle Technology Benefits:<br>
	&bull;&nbsp;Maximizes the heat transfer area<br>
	&bull;&nbsp;Integrated full jacket design<br>
	&bull;&nbsp;Optimal heat transfer<br>
	&bull;&nbsp;Eliminates hot/cold zones<br>
	&bull;&nbsp;Maximizes the energy of the TCU<br>
</p>

<p><b>Even Heating/Cooling</b></p>
<p>Ring Baffle prevents “Short-path” of HTF. Optimizes the Heat Transfer to the Internal Vessel Uniform and Efficient temperature stability.</p>

<p><b>Products:</b></p>

<p>	Bench-Top All-In-One Filter Reactor:<br>
	&bull;&nbsp;Vessel Capacity - 1,2,3,5L<br>
	&bull;&nbsp;Vessel Type - Double Wall, Full Jacket<br>
	&bull;&nbsp;Operating Pressure - Full Vacuum to +0.5 bar G ( +0.05 MPa)<br>
	&bull;&nbsp;Operating Jacket Pressure - Up to +0.5 bar G (+0.05 Mpa)<br>
	&bull;&nbsp;Operating Temperature - (-90) deg C to +200 deg C (Delta : 110 deg C)<br>
	&bull;&nbsp;This system does not include overhead stirrer, circulator and chiller<br>
</p>

<p>	Mini And Pilot Plant All-In-One Filter Reactor (Fully Functional Stand):<br>
	&bull;&nbsp;Vessel Capacity - 10,20,30 L<br>
	&bull;&nbsp;Vessel Type - Double Wall; Full Jacket<br>
	&bull;&nbsp;Operating Pressure - Full Vacuum to +0.5 bar G ( +0.05 MPa)<br>
	&bull;&nbsp;Operating Jacket Pressure - Up to +0.5 bar G (+0.05Mpa)<br>
	&bull;&nbsp;Operating Temperature - (-90) deg C to +200 deg c (Delta :110 deg C)<br>
	&bull;&nbsp;This system does not include overhead stirrer, circulator and chiller<br>
</p>

<p>	Mini And Pilot Plant Filter Reactor (Optional Handling Cart):<br>
	&bull;&nbsp;Vessel capacity : 50 , 100 L<br>
	&bull;&nbsp;Vessel Type - Double Wall; Full Jacket<br>
	&bull;&nbsp;Operating Pressure - Full Vacuum to +0.5 bar G ( +0.05 MPa)<br>
	&bull;&nbsp;Operating Jacket Pressure - Up to +0.5 bar G (+0.05Mpa)<br>
	&bull;&nbsp;Operating Temperature - (-90) deg C to +200 deg c (Delta :110 deg C)<br>
	&bull;&nbsp;Hydraulic Lift with Cart<br>
	&bull;&nbsp;This system does not include overhead stirrer, circulator and chiller<br>
</p>

</div>
</div>




<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>
<a href="/turnkey?page=kilo"><h4>Kilo Lab/Pilot Plant</h4></a>
<a href="/turnkey?page=spdist"><h4>Evaporators</h4></a>
<a href="/turnkey?page=nutschefilters"><h4>Glass Nutsche Filters</h4></a>
<a href="/turnkey?page=dwall"><h4>Glass Reactors</h4></a>
	<ul>
		<li>&bull;<a href="/turnkey?page=dwall">Double Wall</a></li>
		<li>&bull;<a href="/turnkey?page=twall">Triple Wall</a></li>
	</ul>
	<br>


</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>